<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head')%>
    <title>Añadir producto</title>
    <link rel="stylesheet" href="/stylesheets/estilos.css">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/estiloLogin.css">
</head>
<body>
    <% if (locals.usuario) {%>
        <%-include('../partials/header', {usuario: usuario})%>
        <% } else {%>
        <%-include('../partials/header')%>
        <%}%>
    <h2 class="titulo">Editar producto</h2>
    <form method="POST" action="/productos/<%= producto.id %>?_method=PUT" enctype="multipart/form-data">
        <article>
        <strong>Nombre del producto:</strong>
        <div><input type="text" name="nombre" value=" <%= producto.nombre %>"></div><br>
        <strong>Categoria:</strong>
        <div>
            <select name="categoria" class="campo" value="<%= producto.caategoria %>">
                <option value="videojuegos">Videojuegos</option>
                <option value="cosplay">Cosplay</option>
                <option value="juguetes">Jueguetes</option>
                <option value="maquillaje" >Maquillaje</option>
            </select>
        </div>
        <br>
        <strong>Colores: </strong>
        <div><input type="text" name="colores" value="<%= producto.colores %>"></div>
        <br>
        <strong>Descripcion: </strong>
        <div><textarea name="descripcion" class ="" cols="30" rows="10" ><%= producto.descripcion %></textarea> </div><br>
        <strong>Precio:</strong>
        <div><input type="number" name="precio" value="<%= producto.precio %>"> </div><br>
        <strong>Imagen:</strong>
        <div><input type="file" name="imagen"> </div><br>
        <button class="boton"><strong>Guardar</strong> </button>
    </article>
    </form>

    <%-include('../partials/footer')%>
    
</body>
</html>