<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('partials/head')%>
    <link rel="stylesheet" href="/stylesheets/estilos.css" />
    <link rel="stylesheet" href="/stylesheets/normalize.css" />
    <title>Friki-Art</title>
  </head>
  
  

  <style>
    a {
      text-decoration: none;
    }
  </style>
  <body><
    <header>
      <%-include('partials/header')%>
    </header>
  
    <main id="mainIndex">
      <% console.log(productos) %>
      <img src="/images/banner.jpg" alt="esperanding" id="banner"/> 
      <% for(var i=0; i<productos.length; i++) { %> 
      <a href="productos/detalle/<%= productos[i].id %>">
        <article class="articulo">
            <img src="/images/<%= productos[i].imagen %>" alt="esperanding">
            <div class="nombre"> <%= productos[i].nombre %></div>
            <div class="precio"> $<%= productos[i].precio %></div>
        </article>
      </a>
      <% } %> 

    </main>
    <footer>
      <%-include('partials/footer')%>
    </footer>

 
  </body>
</html>
